body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.menu {
    background-color: #333;
    color: #fff;
    justify-content: space-around;
    padding: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 30px 0;
}

.menu a:hover {
    background-color: #555;
}

.secao {
    padding: 80px 0;
    margin: 40px;
}

.secao h1 {
    font-size: 24px;
}

.secao p {
    font-size: 16px;
    padding: 20px 0;
}
